[submodule "smart-contracts"]
	path = smart-contracts
	url = https://github.com/melonproject/smart-contracts
[submodule "chronos"]
	path = chronos
	url = https://github.com/chronologic/chronos
[submodule "timenode"]
	path = timenode
	url = https://github.com/chronologic/timenode
	branch = melonport-hackathon